{% load static %}<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stock Calculator - Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.min.css' %}" rel="stylesheet">
      <link href="{% static 'css/checkbox.css' %}" rel="stylesheet">
<script>
     $(document).ready(function () {
   $("input[type='checkbox']").change(function () {
      var maxAllowed = 2;
      var cnt = $("input[type='checkbox']:checked").length;
      if (cnt > maxAllowed)
      {
         $(this).prop("checked", "");
         alert('Select maximum ' + maxAllowed + ' Levels!');
     }
  });
});

     function validateForm() {
    var x = document.forms["myform"]["price"].value;
    var cnt = $("input[type='checkbox']:checked").length;
    if (x == "") {
        alert("Investment amount can't be blank");
        return false;
    }
    if (isNaN(x)){
        alert("Investment amount can only be Number");
        return false;
    }
    if (cnt == 0){
        alert("Please choose at least ONE investment strategy");
        return false;
    }
}
</script>
  </head>

  <body background="{% static 'image/bg.jpg'%}">

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">A Free Stock Portfolio Suggestion Engine</span>
      <span class="site-heading-lower">Stock Calculator</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about">About</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="result">Report</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'image/intronew.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Great WebApp</span>
              <span class="section-heading-lower">your stock advisor</span>
            </h2>
            <p class="mb-3">You only need to tell us the dollar amounts you plan to invest. And the investment strategies that you're interested with. Then it's our job to produce you a profound report of suggestions of how to spend your Money!
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="about">Introduce Us!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" style="background-color:rgba(43,68,95, 0.9);padding-top: 5rem;padding-bottom: 5rem;">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 mx-auto">
            <div class="cta-inner text-left rounded" style="position: relative;padding: 3rem;margin: 0.5rem;background-color: rgba(255, 255, 255, 0.85);">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Dollar amount to invest in USD (Minimum is $5000 USD)</span>
              </h2>
                <form name="myform" onsubmit="return validateForm()" method="post" action="submit/">
                    {% csrf_token %}
                <input name="price" class="form-control" type="text" placeholder="Minimum is $5000 USD">

{##}
{#User will:#}
{##}
{#Input dollar amount to invest in USD (Minimum is $5000 USD)#}
{#Pick one or two investment strategies:#}
{#Ethical Investing#}
{#Growth Investing#}
{#Index Investing#}
{#Quality Investing#}
{#Value Investing#}



{#                <div class="checkbox-div">#}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">#}
{#                    <label class="form-check-label" for="defaultCheck1">#}
{#                         Ethical Investing#}
{#                    </label>#}
{#                </div>#}
{##}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">#}
{#                    <label class="form-check-label" for="defaultCheck2">#}
{#                        Growth Investing#}
{#                    </label>#}
{#                </div>#}
{##}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">#}
{#                    <label class="form-check-label" for="defaultCheck3">#}
{#                        Index Investing#}
{#                    </label>#}
{#                </div>#}
{##}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">#}
{#                    <label class="form-check-label" for="defaultCheck4">#}
{#                        Quality Investing#}
{#                    </label>#}
{#                </div>#}
{##}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">#}
{#                    <label class="form-check-label" for="defaultCheck5">#}
{#                        Value Investing#}
{#                    </label>#}
{#                </div>#}
{##}
{#                </div>#}
                <br>
                <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Pick one or two investment strategies</span>
              </h2>
                <div class="funkyradio">
                    <div class="funkyradio-primary">
                        <input type="checkbox" name="checkbox1" id="checkbox2"/>
                        <label for="checkbox2">Ethical Investing</label>
                    </div>
                    <div class="funkyradio-success">
                        <input type="checkbox" name="checkbox2" id="checkbox3"/>
                        <label for="checkbox3">Growth Investing</label>
                    </div>
                    <div class="funkyradio-danger">
                        <input type="checkbox" name="checkbox3" id="checkbox4"/>
                        <label for="checkbox4">Index Investing</label>
                    </div>
                    <div class="funkyradio-warning">
                        <input type="checkbox" name="checkbox4" id="checkbox5"/>
                        <label for="checkbox5">Quality Investing</label>
                    </div>
                    <div class="funkyradio-info">
                        <input type="checkbox" name="checkbox5" id="checkbox6"/>
                        <label for="checkbox6">Value Investing</label>
                    </div>
                </div>










                    <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
                </form>
                <p></p>
            </div>
          </div>
        </div>
      </div>
        </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; StockCalculator 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
